{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
</head>
<body style="background-color: #f0f0f0; height: 100vh; display: flex; justify-content: center; align-items: center;">
    <div class="centered-container">
        <h1>Login</h1>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p class="{{ message.tags }}">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <label>Username:</label>
            <input type="text" name="username" required><br><br>

            <label>Password:</label>
            <input type="password" name="password" required><br><br>

            <input type="submit" value="Login">
        </form>

        <p>New user? <a href="{% url 'signup' %}">Signup here</a></p>
    </div>
</body>
</html>